/*
  CSS File
*/

/*
 VARIABLES
*/
:root {
  /* Core colours */
  /* https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */
  --colour-amaranth: #e63946;
  --colour-peppermint: #f1faee;
  --colour-aquaisland: #a8dadc;
  --colour-wedgewood: #457b9d;
  --colour-cello: #1d3557;

  /* Header configuration */
  --header-heading-colour: var(--colour-peppermint);

  /* Body configuration */
  --body-default-colour: var(--colour-peppermint);
  --body-background-colour: var(--colour-cello);
}

/*
  PAGE / BODY
*/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--body-default-colour);
  background-color: rgb(0, 0, 0);
}

main {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*
  Screen reader text utility class
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.game-container{
  background-color: rgb(169, 29, 29);
  height: 350px;
  border:  rgb(169, 29, 29);
  box-shadow: black 0px 8px 40px;
  border-radius: 10px;
  border-style: double;
  margin: 75px 70px 75px 100px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.game-container h1{
  
}

.betForm {
  color: black;
}



body {
  font-family: Arial, sans-serif;
  background-color: #300f0f;
  margin: 0;
  padding: 0;
}

#game-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ff7e7e;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 28px;
  text-align: center;
  margin: 0 0 20px;
}


button {
  background-color: rgb(4, 87, 176);
  color: #c18989;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ebf5ff;
}


#bet-input {
  padding: 5px;
  border: 1px solid rgb(212, 19, 19)cdc;
  border-radius: 5px;
  margin: 5px;
  width: 100px;
}


#result {
  font-size: 24px;
  margin: 10px 0;
}


#player-score,
#dealer-score {
  font-weight: bold;
}


#wallet,
#bet {
  font-weight: bold;
  font-size: 18px;
  color: rgb(236, 245, 255);
}


main {
  text-align: center;
}


#app {
  margin-top: 20px;
}

#result {
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}

